{% extends "layout.html" %}

{% block title %}Nuevo Equestre{% endblock %}


{% block content %}

    <h1>Nuevo Equestre</h1>

    <div class="container">
        <form action="{{ url_for('equestrian.create') }}" method="POST">
            <!-- Nombre -->
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="form-group">
                <label for="date_of_birth">Fecha de Nacimiento:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" required>
            </div>

            <!-- Sexo -->
            <div class="form-group">
                <label for="sex">Sexo:</label>
                <select id="sex" name="sex" required>
                    <option value="M">Macho</option>
                    <option value="F">Hembra</option>
                </select>
            </div>

            <!-- Raza -->
            <div class="form-group">
                <label for="race">Raza:</label>
                <input type="text" id="race" name="race" required>
            </div>

            <!-- Pelaje -->
            <div class="form-group">
                <label for="coat">Pelaje:</label>
                <input type="text" id="coat" name="coat" required>
            </div>

            <!-- Comprado -->
            <div class="form-group">
                <label for="bought">Comprado:</label>
                <select id="bought" name="bought" required>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>

            <!-- Fecha de Entrada -->
            <div class="form-group">
                <label for="date_of_entry">Fecha de Entrada:</label>
                <input type="date" id="date_of_entry" name="date_of_entry" required>
            </div>

            <!-- Sede -->
            <div class="form-group">
                <label for="headquarters">Sede:</label>
                <input type="text" id="headquarters" name="headquarters" required>
            </div>

            <!-- Entrenadores/Conductores -->
            <div class="form-group">
                <label>Seleccionar Entrenadores/Conductores:</label>
                <div id="email_checkbox_list">
                    {% for email in email_list %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="emails" value="{{ email }}"> {{ email }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <label> Trabajos: </label>
                <div id="job_checkbox_list">
                    {% for job in job_list %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="jobs" value="{{ job }}"> {{ job.replace("_", " ").title() }}
                            </label>
                        </div>
                    {% endfor %}
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>


{% endblock %}