{% extends "layout.html" %}

{% block title %}Registro{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Registrarse</h1>
    <form action="{{ url_for('auth.register') }}" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
        <label for="nickname">Alias</label>
        <input type="text" name="nickname" id="nickname" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Registrarse">
    </form>
{% endblock %}