{% extends "layout.html" %}

{% block title %}Detalle de Deuda{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css" />
{% endblock %}


{% block content %}

    <h1>Detalle de Consulta </h1>

    <p>Nombre Completo: {{contact.name}} {{contact.last_name}} </p>
    <p>Email: {{contact.email}} </p>
    <p>Consulta: {{contact.message}} </p>
    <p>Estado: {{contact.state}} </p>

    {% if contact.state not in ['Resuelto', 'Bloqueado'] %}
        <form action="{{ url_for('contacts.answer_contact', contact_id=contact.id) }}" method="post">
            <div class="form-group">
                <label for="comment">Responder:</label>
                <textarea id="comment" name="comment" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Respuesta</button>
        </form>

        <form action="{{ url_for('contacts.block_contact', contact_id=contact.id) }}" method="post" style="margin-top: 10px;">
            <button type="submit" class="btn btn-danger">Bloquear Consulta</button>
        </form>
    {% else %}
        <p>No es posible responder a esta consulta porque está {{ contact.state.lower() }}.</p>
    {% endif %}


    <a href="{{ url_for('contacts.index_contacts') }}" class="btn btn-primary">Volver a listado de Consultas</a>


{% endblock %}