{% extends "layout.html" %}

{% block title %}Registrar jinete o amazona{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#pension_boolean").change(function(event){
            event.preventDefault();
            $("#pension-box").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#scholarship_boolean").change(function(event){
            event.preventDefault();
            $("#scholarship-box").toggle();
            $("#observations-scholarship-box").toggle();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#disability_certificate_boolean").change(function(event){
            event.preventDefault();
            $("#disability-certificate-box").toggle();
            $("#disability-certificate-box2").toggle();
            $("#disability-certificate-box3").toggle();
            $("#disability-type-box").toggle();
        });
    });family-allowance-box
</script>
<script>
    $(document).ready(function(){
        $("#family_allowance_boolean").change(function(event){
            event.preventDefault();
            $("#family-allowance-box").toggle();
            $("#family-allowance-box2").toggle();
        });
    });
</script>
<script>
    function handleSelectChange() {
        const select = document.getElementById('disability_certificate');
        const otroInput = document.getElementById('disability_certificate_otro');

        if (select.value === 'OTRO') {
            otroInput.removeAttribute('readonly');
        } else {
            otroInput.setAttribute('readonly', 'readonly');
        }
    }
</script>
<script>
    $(document).ready(function(){
        $("#second_tutor_boolean").change(function(event){
            event.preventDefault();
            $("#second-tutor").toggle();
        });
    });
</script>
{% endblock %}

{% block content %}

    <div class="container mx-auto">
        <div class="mt-1 md:mt-4 md:col-span-2">
            <form action="{{ url_for('riders_and_horsewomen.new') }}" method="POST">
                <div class="shadow overflow-hidden sm:rounded-md bg-white">
                    <div class="mb-2 p-4  bg-white">
                        <h2 class="font-sans text-xl font-semibold text-gray-900">Registrar jinete/amazona</h2>
                    </div>
                    <div class="px-2 py-8 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
                                <input type="text" name="name" id="name"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="dni" class="block text-sm font-medium text-gray-700">Dni</label>
                                <input type="text" name="dni" id="dni"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="last_name" class="block text-sm font-medium text-gray-700">Apellido</label>
                                <input type="text" name="last_name" id="last_name"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="age" class="block text-sm font-medium text-gray-700">Edad</label>
                                <input type="number" name="age" id="age"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="place_of_birth" class="block text-sm font-medium text-gray-700">Lugar de nacimiento</label>
                                <input type="text" name="place_of_birth" id="place_of_birth"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="date_of_birth" class="block text-sm font-medium text-gray-700">Fecha de nacimiento</label>
                                <input type="date" name="date_of_birth" id="date_of_birth"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="address" class="block text-sm font-medium text-gray-700">Direccion</label>
                                <input type="text" name="address" id="address"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="phone" class="block text-sm font-medium text-gray-700">Numero de telefono</label>
                                <input type="text" name="phone" id="phone"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="emergency_contact" class="block text-sm font-medium text-gray-700">Contacto de emergencia</label>
                                <input type="text" name="emergency_contact" id="emergency_contact"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="emergency_phone" class="block text-sm font-medium text-gray-700">Telefono de contacto de emergencia</label>
                                <input type="text" name="emergency_phone" id="emergency_phone"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <div class="flex items-center">
                                    <div class="text-sm">
                                        <label for="scholarship_boolean" class="text-base font-medium text-gray-700">Becado</label>
                                    </div>
                                    <div class="flex items-center h-5 ml-2">
                                        <input id="scholarship_boolean" name="scholarship_boolean" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                </div>
                            </div>
                            <div id="scholarship-box" class="hidden col-span-6 sm:col-span-3">
                                <label for="scholarship_percentage" class="block text-sm font-medium text-gray-700">Porcentaje de Beca</label>
                                <div class="flex items-center mt-1">
                                    <input type="range" id="scholarship_percentage" name="scholarship_percentage" min="1" max="100" value="50" 
                                    class="block w-full"
                                    oninput="this.nextElementSibling.value = this.value">
                                    <output id="percentage_display" class="ml-2">50</output><span>%</span>
                                </div>
                            </div>
                            <div id="observations-scholarship-box" class="hidden col-span-6 sm:col-span-3">
                                <label for="observations_scholarship" class="block text-sm font-medium text-gray-700">Observaciones de la beca</label>
                                <input type="text" name="observations_scholarship" id="observations_scholarship"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">

                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <div class="flex items-center">
                                    <div class="text-sm">
                                        <label for="disability_certificate_boolean" class="text-base font-medium text-gray-700">Certificado de Discapacidad</label>
                                    </div>
                                    <div class="flex items-center h-5 ml-2">
                                        <input id="disability_certificate_boolean" name="disability_certificate_boolean" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                </div>
                            </div>
                            <div id="disability-type-box" class="hidden col-span-6 sm:col-span-3">
                                <label for="disability_type" class=" block text-sm font-medium text-gray-700">Tipo de discapacidad</label>
                                <select id="disability_type" name="disability_type"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                                    {% for disability_type in disability_type_options %}
                                        <option value="{{ disability_type }}">{{ disability_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="disability-certificate-box" class="hidden col-span-6 sm:col-span-3">
                                <label for="disability_certificate" class="block text-sm font-medium text-gray-700">Diagnóstico</label>
                                <select id="disability_certificate" name="disability_certificate"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm"
                                    onchange="handleSelectChange()">
                                    {% for disability_certificate in disability_certificate_options %}
                                    <option value="{{ disability_certificate }}">{{ disability_certificate }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="disability-certificate-box2" class=" hidden col-span-6 sm:col-span-3">
                                <label for="disability_certificate_otro" class="block text-sm font-medium text-gray-700">Otro</label>
                                <input type="text" name="disability_certificate_otro" id="disability_certificate_otro"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" readonly>
                            </div>
                            <div id="disability-certificate-box3" class="col-span-6 sm:col-span-3">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <div class="flex items-center">
                                    <div class="text-sm">
                                        <label for="family_allowance_boolean" class="text-base font-medium text-gray-700">Asignación Familiar</label>
                                    </div>
                                    <div class="flex items-center h-5 ml-2">
                                        <input id="family_allowance_boolean" name="family_allowance_boolean" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                </div>
                            </div>
                            <div  id="family-allowance-box" class="hidden col-span-6 sm:col-span-3">
                                <label for="family_allowance" class="block text-sm font-medium text-gray-700">Cual</label>
                                <select id="family_allowance" name="family_allowance"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                                    {% for family_allowance in family_allowance_options %}
                                        <option value="{{ family_allowance }}">{{ family_allowance }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="family-allowance-box2" class="col-span-6 sm:col-span-3">

                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <div class="flex items-center">
                                    <div class="text-sm">
                                        <label for="pension_boolean" class="text-base font-medium text-gray-700">Pension</label>
                                    </div>
                                    <div class="flex items-center h-5 ml-2">
                                        <input id="pension_boolean" name="pension_boolean" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                </div>
                            </div>
                            <div id="pension-box" class="hidden col-span-6 sm:col-span-3">
                                <label for="pension" class="block text-sm font-medium text-gray-700">Cual</label>
                                <select id="pension" name="pension"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                                    {% for pension in pension_options %}
                                        <option value="{{ pension }}">{{ pension }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 p-4  bg-white">
                        <h5 class="font-sans text-xl font-semibold text-gray-900">INSTITUCIÓN ESCOLAR a la que CONCURRE ACTUALMENTE</h5>
                    </div>
                    <div class="px-2 py-8 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="name_institution" class="block text-sm font-medium text-gray-700">Nombre de la institucion</label>
                                <input type="text" name="name_institution" id="name_institution"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="address_institution" class="block text-sm font-medium text-gray-700">Direccion de la institucion</label>
                                <input type="text" name="address_institution" id="address_institution"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="phone_institution" class="block text-sm font-medium text-gray-700">Telefono de la institucion</label>
                                <input type="text" name="phone_institution" id="phone_institution"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="current_grade" class="block text-sm font-medium text-gray-700">Grado / año actual</label>
                                <input type="text" name="current_grade" id="current_grade"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="observations_institution" class="block text-sm font-medium text-gray-700">Observaciones de la institucion</label>
                                <input type="text" name="observations_institution" id="observations_institution"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div> 
                        </div>
                    </div>
                    <div class="mb-2 p-4  bg-white">
                        <h5 class="font-sans text-xl font-semibold text-gray-900">DATOS PERSONALES De FAMILIAR/es O TUTOR/es RESPONSABLE/s</h5>
                    </div>
                    <div class="px-2 py-8 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="name_first_tutor" class="block text-sm font-medium text-gray-700">Nombre</label>
                                <input type="text" name="name_first_tutor" id="name_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="dni_first_tutor" class="block text-sm font-medium text-gray-700">Dni</label>
                                <input type="text" name="dni_first_tutor" id="dni_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="last_name_first_tutor" class="block text-sm font-medium text-gray-700">Apellido</label>
                                <input type="text" name="last_name_first_tutor" id="last_name_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="relationship_first_tutor" class="block text-sm font-medium text-gray-700">Parentesco</label>
                                <input type="text" name="relationship_first_tutor" id="relationship_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="address_first_tutor" class="block text-sm font-medium text-gray-700">Direccion</label>
                                <input type="text" name="address_first_tutor" id="address_first_tutor"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="phone_first_tutor" class="block text-sm font-medium text-gray-700">Numero de telefono</label>
                                <input type="text" name="phone_first_tutor" id="phone_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="email_first_tutor" class="block text-sm font-medium text-gray-700">Email</label>
                                <input type="text" name="email_first_tutor" id="email_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="education_level_first_tutor" class="block text-sm font-medium text-gray-700">Nivel de escolaridad alcanzado</label>
                                <select id="education_level_first_tutor" name="education_level_first_tutor"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                                    {% for education_level in education_level_options %}
                                        <option value="{{ education_level }}">{{ education_level }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="occupation_first_tutor" class="block text-sm font-medium text-gray-700">Ocupacion</label>
                                <input type="text" name="occupation_first_tutor" id="occupation_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="flex items-center">
                                <div class="text-sm">
                                    <label for="second_tutor_boolean" class="text-base font-medium text-gray-700">Segundo tutor</label>
                                </div>
                                <div class="flex items-center h-5 ml-2">
                                    <input id="second_tutor_boolean" name="second_tutor_boolean" type="checkbox"
                                        class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                </div>
                            </div>
                        </div>
                        <div id="second-tutor" class="hidden">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="name_first_tutor" class="block text-sm font-medium text-gray-700">Nombre del segundo tutor</label>
                                <input type="text" name="name_first_tutor" id="name_first_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="dni_second_tutor" class="block text-sm font-medium text-gray-700">Dni del segundo tutor</label>
                                <input type="text" name="dni_second_tutor" id="dni_second_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="last_name_second_tutor" class="block text-sm font-medium text-gray-700">Apellido del segundo tutor</label>
                                <input type="text" name="last_name_second_tutor" id="last_name_second_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="relationship_second_tutor" class="block text-sm font-medium text-gray-700">Parentesco del segundo tutor</label>
                                <input type="text" name="relationship_second_tutor" id="relationship_second_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="address_second_tutor" class="block text-sm font-medium text-gray-700">Direccion del segundo tutor</label>
                                <input type="text" name="address_second_tutor" id="address_second_tutor"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="phone_second_tutor" class="block text-sm font-medium text-gray-700">Numero de telefono del segundo tutor</label>
                                <input type="text" name="phone_second_tutor" id="phone_second_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="email_second_tutor" class="block text-sm font-medium text-gray-700">Email del segundo tutor</label>
                                <input type="text" name="email_second_tutor" id="email_second_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="education_level_second_tutor" class="block text-sm font-medium text-gray-700">Nivel de escolaridad alcanzado del segundo tutor</label>
                                <select id="education_level_second_tutor" name="education_level_second_tutor"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                                    {% for education_level in education_level_options %}
                                        <option value="{{ education_level }}">{{ education_level }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="occupation_second_tutor" class="block text-sm font-medium text-gray-700">Ocupacion del segundo tutor</label>
                                <input type="text" name="occupation_second_tutor" id="occupation_second_tutor"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2" required>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="mb-2 p-4  bg-white">
                        <h5 class="font-sans text-xl font-semibold text-gray-900">TRABAJO EN NUESTRA INSTITUCIÓN</h5>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="select_state" class="block text-sm font-medium text-gray-700">Seleccione las personas que lo atienden</label>
                            <select id="select-state" name="team_members" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Pick a state...">
                            {% for person in team_members %}
                                  <option value="{{ person }}">{{ person }}</option>
                            {% endfor %}
                    </div>                    
                    <div class="px-4 py-3 bg-white text-right sm:px-6">
                        <a href="javascript:history.back()">
                            <button  type="button"  class="bg-gray-600 hover:bg-gray-700 text-white font-semibold py-2 px-4 mr-1 rounded h-10">Volver</button>
                        </a>
                        <button type="submit"
                            class="bg-gray-600 hover:bg-gray-700 text-white font-semibold py-2 px-4 ml-1 rounded h-10">
                            Siguiente
                        </button>
                    </div>
                </div>
        
            </form>
        </div>
    </div>
    </section>

{% endblock %}