{% extends "layout.html" %}

{% block title %}Registrar jinete o amazona{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <section class="text-gray-700 body-font m-2 p-0 relative"></section>

    <div class="container mx-auto">
        <div class="flex flex-col text-center w-full mb-1">

        </div>

        <div class="mt-0 md:mt-0 md:col-span-2">
            <form action="#" method="POST">
                <div class="shadow overflow-hidden sm:rounded-md bg-white">
                    <div class="mb-2 p-4  bg-white">
                        <h2 class="font-sans text-xl font-semibold text-gray-900">Registrar jinete/amazona</h5>
                    </div>
                    <div class="px-2 py-8 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
                                <input type="text" name="name" placeholder="1" id="name"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="dni" class="block text-sm font-medium text-gray-700">Dni</label>
                                <input type="text" name="dni" placeholder="" id="dni"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2"/>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="last_name" class="block text-sm font-medium text-gray-700">Apellido</label>
                                <input type="text" name="last_name" placeholder="" id="last_name"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="age" class="block text-sm font-medium text-gray-700">Edad</label>
                                <input type="number" name="age" placeholder="" id="age"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="place_of_birth" class="block text-sm font-medium text-gray-700">Lugar de nacimiento</label>
                                <input type="text" name="place_of_birth" id="place_of_birth"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="date_of_birth" class="block text-sm font-medium text-gray-700">Fecha de nacimiento</label>
                                <input type="date" name="date_of_birth" id="date_of_birth"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="address" class="block text-sm font-medium text-gray-700">Direccion</label>
                                <input type="text" name="address" id="address"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="phone" class="block text-sm font-medium text-gray-700">Numero de telefono</label>
                                <input type="text" name="phone" id="phone"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="emergency_contact" class="block text-sm font-medium text-gray-700">Contacto de emergencia</label>
                                <input type="text" name="emergency_contact" id="emergency_contact"
                                class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="emergency_phone" class="block text-sm font-medium text-gray-700">Telefono de contacto de emergencia</label>
                                <input type="text" name="emergency_phone" id="emergency_phone"
                                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-none border px-4 py-2">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="scholarship" class="block text-sm font-medium text-gray-700">Becado</label> 
                                <input type="checkbox" name="scholarship" id="scholarship">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="scholarship_percentage" class="block text-sm font-medium text-gray-700">Porcentaje de Beca:</label>
                                <div class="flex items-center mt-1">
                                    <input type="range" id="scholarship_percentage" name="scholarship_percentage" min="1" max="100" value="50" 
                                    class="block w-full" disabled
                                    oninput="this.nextElementSibling.value = this.value">
                                    <output id="percentage_display" class="ml-2">50</output><span>%</span>
                                </div>
                            </div>
                            

                            <div class="col-span-6 sm:col-span-3">
                                <label for="country" class="block text-sm font-medium text-gray-700">
                                    Location</label>
                                <select id="country" name="country" autocomplete="country"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option>Head office</option>
                                    <option>Canada</option>
                                    <option>Mexico</option>
                                </select>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="country" class="block text-sm font-medium text-gray-700">
                                    project</label>
                                <select id="country" name="country" autocomplete="country"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option>construction Road</option>
                                    <option>Canada</option>
                                    <option>Mexico</option>
                                </select>
                            </div>



                            <div class="col-span-6 sm:col-span-3">
                                <label for="country" class="block text-sm font-medium text-gray-700">
                                    Gender</label>
                                <select id="country" name="country" autocomplete="country"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option>Male</option>
                                    <option>female</option>
                                    <option>other</option>
                                </select>
                            </div>


                            <div class="col-span-6 sm:col-span-3">
                                <label for="country" class="block text-sm font-medium text-gray-700">
                                    No of Vacanices</label>
                                <select id="country" name="country" autocomplete="country"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>



                            <div class="col-span-6 sm:col-span-3">
                                <label for="country" class="block text-sm font-medium text-gray-700">
                                    Department</label>
                                <select id="country" name="country" autocomplete="country"
                                    class="mt-1 focus:ring-gray-600 focus:border-gray-600 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm outline-none sm:text-sm">
                                    <option class="mt-2">HR</option>
                                    <option>Canada</option>
                                    <option>Mexico</option>
                                </select>
                            </div>

                            
                            <div class="col-span-6 sm:col-span-6">
                                <label for="email-address" class="block text-sm font-medium text-gray-700">Email
                                    description</label>
                                <input type="text" name="email-address"
                                    placeholder="1- 334343434 It should be an editor to fill the job description of around 5 to 10 Lines ."
                                    id="email-address" autocomplete="email"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>


                        </div>
                        <fieldset class="mt-8 ">
                            <legend class=" text-base  text-1.5xl font-medium text-gray-900">Job Skill</legend>
                            <div class="mt-2 space-y-4">
                                <div class="flex place-items-center">
                                    <div class="flex items-center h-5">
                                        <input id="comments" name="comments" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="comments" class="font-regular text-gray-700">Accounting</label>

                                    </div>
                                </div>
                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="comments" name="comments" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="comments" class="font-regular text-gray-700">Bookkeeping</label>

                                    </div>
                                </div>
                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="comments" name="comments" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="comments" class="font-regular text-gray-700">Auditing</label>

                                    </div>
                                </div>
                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="comments" name="comments" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="comments" class="font-regular text-gray-700">written
                                            communication</label>

                                    </div>
                                </div>
                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="comments" name="comments" type="checkbox"
                                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="comments" class="font-regular text-gray-700">Team
                                            Managment</label>

                                    </div>
                                </div>
                                <legend class=" text-base  text-1.5xl font-medium text-gray-900">
                                    Interview/type
                                </legend>
                                <div class="mt-2 space-y-4">
                                    <div class="flex items-start">
                                        <div class="flex items-center h-5">
                                            <input id="comments" name="comments" type="checkbox"
                                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                        </div>
                                        <div class="ml-3 text-sm">
                                            <label for="comments"
                                                class="font-mediuregular text-gray-700">Technical</label>

                                        </div>
                                    </div>
                                    <div class="flex items-start">
                                        <div class="flex items-center h-5">
                                            <input id="comments" name="comments" type="checkbox"
                                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                        </div>
                                        <div class="ml-3 text-sm">
                                            <label for="comments" class="font-mediuregular text-gray-700">HR</label>

                                        </div>
                                    </div>
                                    <div class="flex items-start">
                                        <div class="flex items-center h-5">
                                            <input id="comments" name="comments" type="checkbox"
                                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                        </div>
                                        <div class="ml-3 text-sm">
                                            <label for="comments" class="font-mediuregular text-gray-700">Final</label>

                                        </div>
                                    </div>

                                    <legend class=" text-base  text-1.5xl font-medium text-gray-900">
                                        Competencies
                                    </legend>
                                    <div class="   space-y-4">
                                        <div class="flex  items-start">
                                            <div class="flex items-center h-5">
                                                <input id="comments" name="comments" type="checkbox"
                                                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                            </div>
                                            <div class=" text-sm">
                                                <label for="comments"
                                                    class=" ml-3 font-mediuregular text-gray-700">Analysis</label>

                                            </div>
                                        </div>
                                        <div class="flex items-start">
                                            <div class="flex items-center h-5">
                                                <input id="comments" name="comments" type="checkbox"
                                                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                            </div>
                                            <div class="ml-3 text-sm">
                                                <label for="comments" class="font-mediuregular text-gray-700">R &
                                                    D</label>

                                            </div>
                                        </div>
                                        <div class="flex items-start">
                                            <div class="flex items-center h-5">
                                                <input id="comments" name="comments" type="checkbox"
                                                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                            </div>
                                            <div class="ml-3 text-sm">
                                                <label for="comments"
                                                    class="font-mediuregular text-gray-700">Bookkeeping</label>

                                            </div>
                                        </div>
                                        <div class="flex items-start">
                                            <div class="flex items-center h-5">
                                                <input id="comments" name="comments" type="checkbox"
                                                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                            </div>
                                            <div class="ml-3 text-sm">
                                                <label for="comments" class="font-mediuregular text-gray-700">Quick
                                                    Larner</label>

                                            </div>
                                        </div>
                                        <div class="flex items-start">
                                            <div class="flex items-center h-5">
                                                <input id="comments" name="comments" type="checkbox"
                                                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                            </div>
                                            <div class="ml-3 text-sm">
                                                <label for="comments" class="font-mediuregular text-gray-700">Team
                                                    Managment</label>

                                            </div>
                                        </div>


                                    </div>
                        </fieldset>

                    </div>
                    <div class="px-4 py-3 bg-white text-right sm:px-6">
                        <button type="submit"
                            class="mr-4 inline-flex justify-center w-24 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md ring ring-gray-500 ring-offset-4  text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2  focus:ring-indigo-500">
                            New
                        </button>
                        <button type="submit"
                            class="inline-flex justify-center w-24 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md ring  ring-indigo-500 ring-offset-4 bg-indigo-600 hover:bg-indigo-700 text-whitefocus:outline-none focus:ring-2  focus:ring-indigo-500">
                            Save
                        </button>

                    </div>
                </div>
        </div>
        </form>
    </div>
    </section>

{% endblock %}
