{% extends "layout.html" %}

{% block title %}Registrar jinete o amazona{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
    <h1>Registrar trabajo en institucion de jinete/amazona</h1>
    <form action="" method="post" novalidate>

    <!-- proposal -->
    <div>
        <label for="proposal">Propuesta de trabajo institucional</label>
        <select id="proposal" name="proposal">
            {% for proposal in proposal_options %}
                <option value="{{ proposal }}">{{ proposal }}</option>
            {% endfor %}
        </select>
    </div>
    
    <!-- condition -->
    <div>
        <label for="condition">Condición</label>
        <select id="condition" name="condition">
            {% for condition in condition_options %}
                <option value="{{ condition }}">{{ condition }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- seat -->
    <div>
        <label for="seat">Condición</label>
        <select id="seat" name="seat">
            {% for seat in seat_options %}
                <option value="{{ seat }}">{{ seat }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- enum de dias -->

    <!-- Profesor/a o Terapeuta -->
    <!-- Conductor/a del Caballo -->
    <!-- Caballo -->
    <!-- Auxiliar de Pista -->

    <input type="submit" value="Registrar trabajo en la institucion de jinete/amazona">

    </form>
{% endblock %}