{% extends "layout.html" %}

{% block title %}Listado Pagos{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Pagos</h1>
    <a href="{{ url_for('payments.payment_register_form') }}"> <button> Registrar Pago </button></a>


    <form method="GET" action="{{ url_for('payments.index_payments') }}">
        <div>
            <label for="start_date">Fecha de pago (Desde):</label>
            <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}">
        </div>
        <div>
            <label for="end_date">Fecha de pago (Hasta):</label>
            <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}">
        </div>
        <div>
            <label for="payment_type">Tipo de pago:</label>
            <select id="payment_type" name="payment_type">
                <option value="">Todos</option>
                <option value="HONORARIOS" {% if request.args.get('payment_type') == 'HONORARIOS' %}selected{% endif %}>Honorarios</option>
                <option value="PROVEEDOR" {% if request.args.get('payment_type') == 'PROVEEDOR' %}selected{% endif %}>Proveedor</option>
                <option value="GASTOS VARIOS" {% if request.args.get('payment_type') == 'GASTOS VARIOS' %}selected{% endif %}>Gastos Varios</option>
            </select>
        </div>
        <div>
            <label for="order_by">Ordenar por fecha de pago:</label>
            <select id="order_by" name="order_by">
                <option value="asc" {% if request.args.get('order_by') == 'asc' %}selected{% endif %}>Ascendente</option>
                <option value="desc" {% if request.args.get('order_by') == 'desc' %}selected{% endif %}>Descendente</option>
            </select>
        </div>
        <button type="submit">Buscar</button>
    </form>

    {% if payments %}
        <table>
            <thead>
                <tr>
                    <th>Beneficiario</th>
                    <th>Monto</th>
                    <th>Fecha de Pago</th>
                    <th>Tipo de Pago</th>
                    <th>Descripcion</th>
                    <th>Informacion</th>
                    <th>Modificacion</th>
                    <th>Eliminacion</th>

                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                    <td> {{ payment.beneficiary.email if payment.beneficiary else 'Externo' }} </td> <!-- deberia ser el nombre del usuario no el id pero por ahora queda-->
                    <td> {{ payment.amount }} </td>
                    <td> {{ payment.payment_date }} </td>
                    <td> {{ payment.payment_type }} </td>
                    <td> {{ payment.description }} </td>
                    <td>
                        <a href="{{ url_for('payments.show_detail_payment', payment_id=payment.id) }}">
                            <button>Ver Detalles</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('payments.edit_payment_form', payment_id=payment.id) }}">
                            <button type="button">Modificar</button>
                        </a>
                    </td>
                    <td>
                        <!--Formulario para confirmar eliminacion, si se confirma se envia y se efectua la eliminacion-->
                        <form action="{{ url_for('payments.delete_payment', payment_id=payment.id) }}" method="post" onsubmit="return confirmDelete();">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- FALTA PROBAR ESTOS BOTONES -->
        <div>
            {% if current_page > 1 %}
                <a href="{{ url_for('payments.index_payments', page=current_page - 1, start_date=request.args.get('start_date'), end_date=request.args.get('end_date'), payment_type=request.args.get('payment_type'), order_by=request.args.get('order_by')) }}">
                    <button>Anterior</button>
                </a>
            {% endif %}
        
            {% if current_page < max_pages %}
                <a href="{{ url_for('payments.index_payments', page=current_page + 1, start_date=request.args.get('start_date'), end_date=request.args.get('end_date'), payment_type=request.args.get('payment_type'), order_by=request.args.get('order_by')) }}">
                    <button>Siguiente</button>
                </a>
            {% endif %}
        </div>


    {% else %}
        <p>No se encontraron pagos</p>
    {% endif %}
    

    <script>
        function confirmDelete() {
            return confirm('¿Estás seguro de que deseas eliminar este pago? Esta acción no se puede deshacer.');
        }
    </script>

{% endblock %}

