{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Bienvenido</h1>

    <form action="{{ url_for('users.user_index') }}">
        <button type="submit">Ver Usuarios</button>
    </form>

    <form action="{{ url_for('payments.index_payments') }}">
        <button type="submit">Ver Pagos</button>
    </form>

    <form action="{{ url_for('users.user_new') }}">
        <button type="submit">Crear Usuario</button>
    </form>

    <form action="{{ url_for('team_members.team_members_list') }}">
        <button type="submit">Ver Miembros del Equipo</button>   
    </form>

    <form action="{{ url_for('team_members.new') }}">
        <button type="submit">Crear Miembro de Equipo</button>   
    </form>

    <form action="{{ url_for('collections.index_collections') }}">
        <button type="submit">Ver Cobros</button>   
    </form>

{% endblock %}