<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </head>
    <body  class="bg-sky-100">

        <div>
            {% block navbar %}
            <div class="navbar flex justify-between items-center bg-gray-100 p-4 shadow-md">
                <!-- Logo -->
                <div class="logo"> 
                    <img src="{{ url_for('static', filename='images/logoCEDICA.png') }}" alt="Logo" class="pr-1 lg:h-10 xl:h-10 xxs:h-5">
                </div>

                <!-- Menú de navegación -->
                <div class="menu flex space-x-2.5">
                    <a href="{{ url_for('payments.index_payments') }}" class="bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Pagos</a>
                    <a href="{{ url_for('collections.index_collections') }}" class="bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Cobros</a>
                    <a href="#" class="bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">J&A</a>
                    <a href="#" class="bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Ecuestre</a>
                    <a href="{{ url_for('team_members.team_members_list') }}" class="bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Equipo</a>
                    <a href="{{ url_for('users.users_list') }}" class="bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 px-4 rounded">Usuarios</a>
                </div>

                <!-- Perfil de usuario -->
                <div class="user-menu relative">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-800 cursor-pointer" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.8 21a8.38 8.38 0 0 0-7.8-4.5h-2c-3.6 0-6.7 2-7.8 4.5"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    <div class="dropdown-content absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg hidden">
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Perfil</a>
                        <a href="{{ url_for('auth.logout') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Cerrar sesión</a>
                    </div>
                </div>
            </div>
            <script>
                document.querySelector('.user-menu').addEventListener('click', function() {
                this.querySelector('.dropdown-content').classList.toggle('hidden');
                });
            </script>
            {% endblock %}
        </div>
        <div>
            {% block content %}

            {% endblock %}
        </div>
        <div>{% block footer %}{% endblock %}</div>
    </body>
</html>