{% extends "layout.html" %}

{% block title %}Miembros del equipo CEDICA{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}



{% block content %}
    <h1>Miembros del equipo CEDICA</h1>

    <h2>Buscar Miembro del equipo</h2>
    <form action="{{ url_for('team_members.team_members_list') }}" method="get">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{ request.args.get('email', '') }}">

        <label for="dni">DNI</label>
        <input type="text" name="dni" id="dni" value="{{ request.args.get('dni', '') }}">
    
        <label for="job">Posición Laboral:</label>
        <select name="job" id="job">
            <option value="">-- Seleccionar --</option>
            {% for job in jobs %}
            <option value="{{ job }}" {% if request.args.get('job') == job %}selected{% endif %}>{{ job.replace('_', ' ').title() }}</option>
            {% endfor %}
        </select>

        <h3>Ordenar por:</h3>
        <label>
            <input type="radio" name="sort_by" value="name_asc" {% if request.args.get('sort_by') == 'name_asc' %}checked{% endif %}>
            Nombre Ascendente
        </label>
        <label>
            <input type="radio" name="sort_by" value="name_desc" {% if request.args.get('sort_by') == 'name_desc' %}checked{% endif %}>
            Nombre Descendente
        </label>
        <label>
            <input type="radio" name="sort_by" value="last_name_asc" {% if request.args.get('sort_by') == 'last_name_asc' %}checked{% endif %}>
            Apellido Ascendente
        </label>
        <label>
            <input type="radio" name="sort_by" value="last_name_desc" {% if request.args.get('sort_by') == 'last_name_desc' %}checked{% endif %}>
            Apellido Descendente
        </label>

    
        <button type="submit">Buscar</button>
    </form>

    {% if list %}
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Informacion</th>
                    <th>Modificacion</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for team_member in list %}
                <tr>
                    <td>{{ team_member.name }}</td>
                    <td>{{ team_member.last_name }}</td>
                    <td>{{ team_member.email }}</td>
                    <td>
                        <a href="{{ url_for('team_members.show_team_member', team_member_email=team_member.email) }}"> 
                            <button>Mostrar informacion</button>
                        </a>

                    </td>
                    <td>
                        <a href="{{ url_for('team_members.edit_team_member', team_member_email=team_member.email) }}">
                            <button type="button">Modificar</button>
                        </a>
                    </td>
                    <td>
                        <form action="{{ url_for('team_members.switch_state_team_member', team_member_email=team_member.email) }}" method="POST">
                            {% if team_member.active %}
                                <button type="submit">Desactivar</button>
                            {% else %}
                                <button type="submit">Activar</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('team_members.team_members_list', page=page-1, email=request.args.get('email', ''), job=request.args.get('job', ''), dni=request.args.get('dni', ''), name=request.args.get('name', ''), surname=request.args.get('surname', ''), sort_by=request.args.get('sort_by', '')) }}">
                    <button>Previo</button>
                </a>
            {% else %}
                <button disabled>Previo</button>
            {% endif %}

            {% if page < max_pages %}
                <a href="{{ url_for('team_members.team_members_list', page=page+1, email=request.args.get('email', ''), job=request.args.get('job', ''), dni=request.args.get('dni', ''), name=request.args.get('name', ''), surname=request.args.get('surname', ''), sort_by=request.args.get('sort_by', '')) }}">
                    <button>Siguiente</button>
                </a>
            {% else %}
                <button disabled>Siguiente</button>
            {% endif %}
        </div>

    {% else %}
        <p>No hay miembros del equipo registrados</p>
    
    {% endif %}


    


{% endblock %}